
.section {
  display: flex;  
  height: calc(100vh - 80px);
}

.content, .bgImageContainer{
  width: 50%;
  height: 100%;
  padding-top: 40px;
}

.bgImageContainer{
  display: flex;
  justify-content: center;  
}

.bgImage{
  width: 80%;  
  overflow: hidden;
}

.bgImage  img{
  border-radius: 12px 45px 0px 20px;
}

@media screen and (max-width: 1000px) {
    .bgImageContainer{
      display: none;
    }
    .content{
      width: 100%;
    }
}
